<div class="container text-center">
  <h1>Your Tasks</h1>
    <%= link_to "Add a new task", new_task_path %>
    <% @tasks.each do |task| %>
      <div class="task">
        <h3> <%= link_to "#{task.title.capitalize}", task_path(task) %></h3>
        <p><%= link_to "Edit", edit_task_path(task) %> |
        <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %></p>
      </div>
    <% end %>
</div>

